
workspace/.metadata/.plugins/org.eclipse.pde.core/1282894287600.target/.pluginInfo

workspace/.metadata/.plugins/org.eclipse.pde.core/1282894287600.target/.pluginInfo

workspace/.metadata/.log

workspace/.metadata/.log
